.btnVerbs
{
    font-size:14px;
    font-weight:700;
    min-width:80px;
    padding:6px 15px;
    text-align:center;
    border-radius:3px;
    text-shadow:0 1px 0 rgba(0,0,0,.1);
    font-family:sans-serif;
    color:#fff;
}

.getBg
{
    
    background-color: #4990e2;
}
.postBg
{
    
    background-color: green ;
}

.putBg
{
    
    background-color: orange ;
}

.delBg
{
   
    background-color: red ;
}

 